---
eleventyNavigation:
  key: "Blogs"
  order: 2
---
<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<h1 class="display-4 mb-4">Blogs</h1>
			<p class="lead mb-4">All {{ collections.blog | length }} blog posts</p>
			
			{% set postslist = collections.blog %}
			{% include "postslist.njk" %}
		</div>
		
		<div class="col-lg-4">
			<div class="card mb-4">
				<div class="card-header">
					<h4 class="mb-0">Categories</h4>
				</div>
				<div class="card-body">
					{% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
					<a href="/tags/{{ tag | slugify }}/" class="btn btn-sm m-1" style="{{ tag | getTagStyle }}">
						#{{ tag }} <span class="badge ms-1" style="{{ tag | getTagStyle }}">{{ collections[tag] | length }}</span>
					</a>
					{% endfor %}
				</div>
			</div>
			
			<div class="card">
				<div class="card-header">
					<h4 class="mb-0">Recent Posts</h4>
				</div>
				<div class="card-body">
					<div class="list-group">
						{% for post in collections.blog | reverse | slice(0, 5) %}
						<a href="{{ post.url }}" class="list-group-item list-group-item-action">
							<div class="d-flex w-100 justify-content-between">
								<h6 class="mb-1">{{ post.data.title }}</h6>
								<small class="text-muted">{{ post.date | date("MMM d") }}</small>
							</div>
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>