---
eleventyNavigation:
  key: "Home"
  order: 1

numberOfLatestPostsToShow: 3
---
{% set postsCount = collections.blog | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<div class="container">
	<div class="row mb-5">
		<div class="col-lg-8">
			<h1 class="display-4 mb-4">Welcome to Linked Open Data for Ancient Metallurgy</h1>
			<p>Hi, I'm Fabian. Welcome to my digital sandbox, where I play with Linked Open Data for Ancient Metallurgy (LOD-AM)—a little scientific side hustle of mine.</p>
			<p>This is my private experiment, a one-man show where I get to ask questions about copper-based metallurgy in Eurasia and all the Research Data Management (RDM) chaos that comes with it. No institutions, no big initiatives, no pressure—just me, my curiosity, and the occasional existential crisis over data models.</p>

			<h1 class="display-4 mb-4">Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>
			
			{% set postslist = collections.blog | head(-1 * numberOfLatestPostsToShow) %}
			{% set postslistCounter = postsCount %}
			{% include "postslist.njk" %}
			
			{% set morePosts = postsCount - numberOfLatestPostsToShow %}
			{% if morePosts > 0 %}
			<p class="mt-4">{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in the <a href="/blog/" class="btn btn-outline-primary">blog-archive</a></p>
			{% endif %}
		</div>
		<div class="col-lg-4">
			<div class="card mb-4">
				<div class="card-header">
					<h4 class="mb-0">About</h4>
				</div>
				<div class="card-body">
					<p>{{ metadata.description or metadata.subtitle }}</p>
					<a href="/about/" class="btn btn-primary">Learn More</a>
				</div>
			</div>
		</div>
	</div>
</div>