<div class="giscus mt-5 pt-4 border-top border-secondary"></div>
<script src="https://giscus.app/client.js"
        data-repo="LOD-AM/Website"
        data-category="Comments"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>